In [5]:
import pandas as pd
df = pd.read_csv('summary-2ndedit.csv', index_col = 0)
df

,mz,i array,assymetric,integration,sn,hw,ab,label
0,196.997350,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-0.005533333, 0.199199988]",2.961758e+05,0.892,36466,1.072,3
1,196.997350,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-0.011066666, 0.105133327]",1.408043e+05,0.915,67609,0.853,3
2,420.975691,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-0.049799997, 0.13833332499999998]",6.973428e+05,0.000,195821,0.557,1
3,483.345794,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-0.022133332, 0.12173332599999999]",1.797947e+05,0.000,59442,0.809,1
4,701.404588,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-0.011066666, 0.171533323]",2.018438e+05,1.212,39443,0.849,1
...,...,...,...,...,...,...,...,...
4498,205.086569,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-0.33199998, 0.11066666]",1.719529e+06,2.071,42805,1.134,1
4499,205.086569,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-0.45373330599999995, 0.188133322]",1.965307e+06,1.674,14256,1.852,1
4500,568.551435,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-0.011066666, 0.099599994]",2.873902e+05,1.067,206904,0.628,2
4501,568.551435,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-0.16046665699999998, 0.011066666]",3.588770e+05,0.248,30983,2.178,2
4502,235.170184,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[-0.044266664, 0.082999995]",2.748747e+05,3.036,146216,0.642,1

In [15]:
from ast import literal_eval

In [26]:
data1 = []
data2 = []
for i in range(len(df)):
    data1.append(literal_eval(df['assymetric'][i])[0])
    data2.append(literal_eval(df['assymetric'][i])[1])

In [32]:
df

,mz,i array,a1,a2,assymetric,integration,sn,hw,ab,label
0,196.997350,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",-0.005533,0.199200,"[-0.005533333, 0.199199988]",2.961758e+05,0.892,36466,1.072,3
1,196.997350,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",-0.011067,0.105133,"[-0.011066666, 0.105133327]",1.408043e+05,0.915,67609,0.853,3
2,420.975691,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",-0.049800,0.138333,"[-0.049799997, 0.13833332499999998]",6.973428e+05,0.000,195821,0.557,1
3,483.345794,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",-0.022133,0.121733,"[-0.022133332, 0.12173332599999999]",1.797947e+05,0.000,59442,0.809,1
4,701.404588,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",-0.011067,0.171533,"[-0.011066666, 0.171533323]",2.018438e+05,1.212,39443,0.849,1
...,...,...,...,...,...,...,...,...,...,...
4498,205.086569,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",-0.332000,0.110667,"[-0.33199998, 0.11066666]",1.719529e+06,2.071,42805,1.134,1
4499,205.086569,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",-0.453733,0.188133,"[-0.45373330599999995, 0.188133322]",1.965307e+06,1.674,14256,1.852,1
4500,568.551435,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",-0.011067,0.099600,"[-0.011066666, 0.099599994]",2.873902e+05,1.067,206904,0.628,2
4501,568.551435,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",-0.160467,0.011067,"[-0.16046665699999998, 0.011066666]",3.588770e+05,0.248,30983,2.178,2
4502,235.170184,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",-0.044267,0.083000,"[-0.044266664, 0.082999995]",2.748747e+05,3.036,146216,0.642,1

In [38]:
df.drop(['i array', 'assymetric'], axis=1).to_csv('dataset_training.csv')

In [4]:
# df.insert(2, 'new-col', data)

0       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
                              ...
4498    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4499    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4500    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4501    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4502    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: i array, Length: 4503, dtype: object